



.person-clas{
    border: 3px solid;
}
.person-clas div{
background-color: rgb(167, 166, 209);
display: grid;
}
.estudios-class div{
    background-color:  rgb(167, 166, 209);
    border: 3px solid; 
}
.experiencia-class div{
    background-color:  rgb(167, 166, 209);
    border: 3px solid
}
.capacitaciones-class div{
    background-color:  rgb(167, 166, 209);
    border: 3px solid   
}
.gridsito{
    background-color:  rgb(167, 166, 209);
    border: 3px solid
}
.Gridtriple div{
    background-color: rgb(167, 166, 209);
    border: 1px solid
}
.Gridtriple{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    gap: 1en;;
}
.datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



